@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif; 
}

body {
    margin: 0;
}

h1 {
    margin: 1% auto;
    font-size: 3em;
   
}

.container {
    margin: 0 auto;
    width: 100%;
}

.slide img{
    width: 60%;
    margin-top: 5%;
    float: left;
}
.nav {
    z-index: 0;
    max-width: 100%;
    height: 5em;
    padding: 1em;
    /* background-color: rgb(238, 157, 36);
    -webkit-box-shadow: 0px 10px 25px 0px rgba(134, 134, 134, 0.3);
    -moz-box-shadow: 0px 10px 25px 0px rgba(134, 134, 134, 0.3);
    box-shadow: 0px 10px 25px 0px rgba(134, 134, 134, 0.3);*/
}

.nav h1{
    float: left;
    margin-right: 55%;
}


.nav ul{
    font-weight: bolder;
    font-size: large;
    list-style-type: none;
    margin: 1.5em;
    padding: 0;
    display: flex;
   
}
.nav li{
    margin: 3%;
    padding: 0;
}

.content {
    margin: 0 auto;
    max-width: 68%;
    /* +/- 710px*/
}
.content-banner {
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20%;
    /* +/- 710px*/
}

.content-header {
    z-index: 1;
    margin: 0 auto;
    max-width: 100%;
    background-image: url(background.png);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: left top;
    /* +/- 710px*/
}
.content-list {
    z-index: 1;
    margin: 0 auto;
    max-width: 100%;
    background-image: url(background-gray.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    /* +/- 710px*/
}

.content-main {
    margin: 0 auto;
    width: 100%;

}

.slide {
    height: 22em;
    width: 100%;
    margin-bottom: 15%;

}

.grid-content {
    margin: 0 auto;
    width: 70%;
    height: 35em;

}

.list-content {
    margin: 0 auto;
    width: 100%;
    height: 43em;

}

.grid {
    padding: 0 auto;
}

.title-grid {
    margin: 0 auto;
    padding: .1em;
    max-width: 100%;
    text-align: center;
}

.title-list {
    margin: 2em;
    padding-left: 15em;
    max-width: 100%;
    text-align: left;
}

.div-grid {
    margin: 4.7% 4.7%;
    width: 14.5em;
    float: left;
    height: 22em;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(171, 171, 171, 0.21);
    -moz-box-shadow: 0px 10px 25px 0px rgba(171, 171, 171, 0.21);
    box-shadow: 0px 10px 25px 0px rgba(171, 171, 171, 0.21);
}

.img-list {
    width: 50%;
    height: 100%;
    float: left;

}

.div-list {
    height: 8.75em;
    width: 50%;
    float: right;

}

.banner-content {
    margin: 0 auto;
    max-width: 100%;
    height: 35em;
    margin-top: 15%;
}

.banner {
    width: 100%;
    height: 100%;

}

.post-content {
    margin: 0 auto;
    height: 215px;
    margin-bottom: 5em;
    float: left;
    
}

.pizza {
    position: relative;
    bottom: 7em;
    margin: 0 auto;
    max-width: 70%;
}
.banner-pizza{
    margin: 0 auto;
    max-width: 100%;
}

.num {
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    color: #F56C2C;
}

.tl-1{
font-size: 4em;
} 

.tl-2{
  font-size: 3.5em;
  color: #F56C2C;  
}

.div-post1{
    width: 12.7em;
    float: left;
    height: 13.45em;
    background-color: #ffa600;
}
.div-post2{
    width: 12.7em;
    float: left;
    height: 13.45em;
    background-color: #fe9710;
}
.div-post3{
    width: 12.7em;
    float: left;
    height: 13.45em;
    background-color: #fc891b;
}
.div-post4{
    width: 12.7em;
    float: left;
    height: 13.45em;
    background-color: #f97a24;
}
.div-post{
    width: 12.7em;
    float: left;
    height: 13.45em;
    background-color: #F56C2C;
}