@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    max-width: 100%;
}

h1 {
    margin: 1% auto;
    font-size: 3em;

}

.container {
    margin: 0 auto;
    max-width: 100%;
}

.slide img {
    width: 80%;
    margin-top: 5%;
    float: left;
}
.slide {
    height: 22em;
    width: 100%;
    margin-bottom: 15%;

}


.nav {
    z-index: 0;
    max-width: 100%;
    height: 5em;
    padding: 1em;
    /* background-color: rgb(238, 157, 36);
    -webkit-box-shadow: 0px 10px 25px 0px rgba(134, 134, 134, 0.3);
    -moz-box-shadow: 0px 10px 25px 0px rgba(134, 134, 134, 0.3);
    box-shadow: 0px 10px 25px 0px rgba(134, 134, 134, 0.3);*/
}

.nav h1 {
    float: left;
    margin: .4%;
    padding: 0;
}


.nav ul {
    width: 23em;
    font-weight: bolder;
    font-size: large auto;
    list-style-type: none;
    margin: .7em;
    padding: 0;
    display: flex;
    position: sticky;
    float: right;

}

.nav li {
    margin: 3%;
    padding: 0;
}

.content {
    margin: 0 auto;
    max-width: 68%;
    /* +/- 710px*/
}

.content-banner {
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20%;
    /* +/- 710px*/
}

.content-header {
    z-index: 1;
    margin: 0 auto;
    max-width: 100%;
    background-image: url(background.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
    /* +/- 710px*/
}

.content-list {
    z-index: 1;
    margin: 0 auto;
    max-width: 100%;
    height: 60em;
    background-image: url(background-gray.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;

}

.content-main {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


.grid-content {
    margin: 0 auto;
    width: 70%;
    height: 35em;
    margin-top: 20%;
}

.list {
    margin: 0 auto;
    height: auto;
}

.list-content {
    margin: 0 auto;
    width: 100%;
    height: 43em;

}

.grid {
    padding: 0 auto;
    height: 8em;
}

.title-grid {
    margin: 0 auto;
    padding: .1em;
    max-width: 100%;
    text-align: center;
}

.title-list {
    margin: 2em;
    padding-left: 15em;
    max-width: 100%;
    text-align: left;
}

.img-grid {
    margin: 4.7% 4.7%;
    width: 22.5%;
    float: left;
    height: auto;
    -webkit-filter: drop-shadow(10px 25px 10px rgba(171, 171, 171, 0.21));
    filter: drop-shadow(0px 0px 10px rgba(73, 73, 73, 0.788));
}

.img-list {
    width: 50%;
    height: 100%;
    float: left;

}

.div-list {
    height: 8.75em;
    width: 50%;
    float: right;

}

.banner-content {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.banner {
    width: 100%;
    height: auto;

}

.post-content {
    margin: 0 auto;
    height: 215px;
    margin-bottom: 5em;
    float: left;

}

.pizza {
    position: relative;
    left: 4em;
    bottom: 2em;
    margin: 0 auto;
    max-width: 80%;
}

.banner-pizza {
    margin: 0 auto;
    max-width: 100%;
}

.num {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3.21em;
    color: #F56C2C;
}

.tl-1 {
    font-size: 4em;
}

.tl-2 {
    font-size: 3.5em;
    color: #F56C2C;
}


@media all and (max-width: 685px) {
    h1 {
        margin: 1% auto;
        font-size: 2em;

    }

    .content-list {
        z-index: 1;
        margin: 15% auto;
        max-width: 100%;
        height: 30em;
        background-image: url(background-gray.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: left top;
    
    }
    .nav ul {
        max-width: 110%;
        font-weight: bolder;
        font-size: .6em;
        list-style-type: none;
        margin: .7em;
        margin-left: 0%;
        padding: 0;
        display: flex;
        position: sticky;
        float: right;

    }

    .nav li {
        width: 4.5em;
        margin: 0;
        padding-right: 3%;
    }

    .list-content {
        margin: 0 auto;
        width: 100%;
        height: 17em;

    }

    .div-list {
        height: auto;
        width: 50%;
        float: right;

    }

    .num {
        font-family: 'Archivo Black', sans-serif;
        font-size: 2em;
        color: #F56C2C;
    }

    .list {
        margin: 0 auto;
        height: auto;
        float: inline-end;
    }

    .img-list {
        width: 50%;
        height: 50%;
        position: relative;
        bottom: 1.5em;
    }

    .pizza {
        position: relative;
        left: 1em;
        top: 1em;
        margin: 0 auto;
        max-width: 80%;
    }

    .content-main {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .content-header {
        z-index: 1;
        margin: 0 auto;
        margin-bottom: 25%;
        height: auto;
        max-width: 100%;
        background-image: url(background.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: left top;
        /* +/- 710px*/
    }

    .slide img {
        width: 100%;
        margin-bottom: 5%;
        float: left;

    }

    .slide {
        height: 22em;
        width: 100%;
        height: auto;

    }

    .grid-content {
        margin: 0 auto;
        width: 70%;
        height: auto;
        margin-bottom: 5%;
    }

    .content-banner {
        margin: 10% auto;
        max-width: 100%;
        height: auto;
       
        /* +/- 710px*/
    }

}
@media all and (max-width: 420px) {
    h1 {
        margin: 1% auto;
        font-size: 2em;

    }

    .nav ul {
        width: 26.18em;
        font-weight: bolder;
        font-size: .7em;
        list-style-type: none;
        margin: .7em;
        margin-left: 0%;
        padding: 0;
        display: flex;
        position: sticky;
        float: left;

    }

    .nav li {
        margin: 0;
        padding-right: 3%;
    }

    .list-content {
        margin: 0 auto;
        width: 100%;
        height: 15em;

    }

    .div-list {
        height: auto;
        width: 50%;
        float: right;

    }

    .num {
        font-family: 'Archivo Black', sans-serif;
        font-size: 1.21em;
        color: #F56C2C;
    }

    .list {
        margin: 0 auto;
        height: auto;
        float: inline-end;
    }

    .img-list {
        width: 50%;
        height: 50%;
        position: relative;
        bottom: 1.5em;
    }

    .pizza {
        position: relative;
        left: 1em;
        top: 1em;
        margin: 0 auto;
        max-width: 80%;
    }

    .content-main {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .content-header {
        z-index: 1;
        margin: 0 auto;
        height: auto;
        max-width: 100%;
        background-image: url(background.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: left top;
        /* +/- 710px*/
    }

    .slide img {
        width: 100%;
        margin-top: 5%;
        float: left;

    }

    .slide {
        height: 22em;
        width: 100%;
        height: auto;

    }

    .grid-content {
        margin: 0 auto;
        width: 70%;
        height: auto;

    }

    .content-banner {
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        margin-bottom: 10%;
        /* +/- 710px*/
    }
    .content-list {
        z-index: 1;
        margin: 15% auto;
        max-width: 100%;
        height: auto;
        background-image: url(background-gray.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: left top;
    
    }
}

